.nav {
	// .nav__list
	&__list {
		@include flex-v-center;
	}
	// .nav__item
	&__item {
		&:not(:last-child){
			margin-right: 40px;
		}

	}
	// .nav__link
	&__link {
		font-weight: 700;
		font-size: 16px;
		line-height: 160%;
		color: $color-grey;
	}
}
