// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #000;
  --color-white: #fff;
}
$color-grey: #424551;
$color-light: #fff;
$color-storm: #787a80;
$color-ebony: #1e212c;
$color-primary:#FF5A30;